* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 16px;
}

.no-transition,
.no-transition * {
    transition: none!important;
}

a {
    -webkit-tap-highlight-color: transparent;
}

a:link {
    color: #3f5765;
    text-decoration: none;
}

a:visited {
    color: #3f5765;
    text-decoration: none;
}

a:hover {
    color: #3f5765;
    color: #ff530d;
    text-decoration: none;
}

a:active {
    color: #3f5765;
    color: #ff530d;
    text-decoration: none;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3.9em;
    line-height: 1.2em;
    font-weight: 400;
    margin-top: -1%;
    color: #000;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    /*font-size: 2.8em;*/
    font-size: 2.3em;
    line-height: 1.25em;
    font-weight: 300;
    color: #000;

    -webkit-animation: fadein 1.8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.8s; /* Firefox < 16 */
    -ms-animation: fadein 1.8s; /* Internet Explorer */
    -o-animation: fadein 1.8s; /* Opera < 12.1 */
    animation: fadein 1.8s;
}

#tz-secondary-header h3 {
    font-family: 'Lato', sans-serif;
    font-size: 3.7em;
    line-height: 1.3em;
    font-weight: 400;
    color: #000;
}

#tz-secondary-header p {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 300;
    padding: 0 0 2% 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#tz-projects {
    width: 100%;
    max-width: 1700px;
}

#tz-header-wrapper {
    height: 350px;
    position: relative;
    overflow: hidden;
}

#tz-header, #tz-contact {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
	transition: all 0.30s ease-out 0s;
    top: 0;
    left: 0;
    z-index: 2;
}

#tz-header.hide, #tz-contact.hide {
    opacity: 0.0;
    z-index: 1;
}

.tz-spacer {
    flex: 1;
}

#tz-header-top-line {
    width: 100%;
    height: 14px;
    background: rgba(0,23,38,0.9);
    display: block;
	transition: height 0.30s ease-out 0s;
}

#tz-header-top-line.hide {
    height: 0px;
}

#tz-navigation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

#tz-header-text-wrapper, #tz-header-contact-wrapper {
    margin: auto;
    padding: 0 0.8%;
    max-width: 1360px;
    flex: 8;
    overflow: hidden;
	transition: all 0.6s ease-out 0s;
}

#tz-header-contact-wrapper {
    max-width: 1000px;
}

.tz-highlight {
    color: #ff530d;
    cursor: pointer;
    font-size: 1.0em;
}

#tz-projects {
    position: relative;
    width: 98%;
    margin: 0.4em auto;
    max-width: 1700px;
}

#tz-project {
    position: relative;
    width: 98%;
    margin: 0.4em auto;
    max-width: 1200px;
}

@keyframes fadein {
    0% { opacity: 0; }
    40% {opacity: 0}
    100%   { opacity: 1; }
}

.tz-project {
    float: left;
    width: 32%;
    margin: .6%;
    vertical-align: top;
    border: 1px solid #fff;
    overflow: hidden;
    cursor: pointer;
}

.tz-project-image-wrapper {
    width: 100%;
    margin: 0;
    padding-top: 62.0%;
}

.tz-project-image {
    max-width: 100%;
    max-height: 100%;
}

.tz-description-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5% 0 5%;
}

.tz-description h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.2em;
    color: #fff;
    padding: 2px 0 0px 0;
}

.tz-description p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: 300;
    color: #fff;
}

.tz-info-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 4;
    background-color: rgba(0,0,0,0.4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
	transition: all 0.15s ease-out 0s;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
    background-image: url("../images/info.png");
}

.tz-info-wrapper.active {
    background-image: url("../images/close.png");
}

.tz-project-wrapper {
    padding: 0 0 5% 0;
}

.tz-project-wrapper p {
    max-width: 800px;
    width: 80%;
    padding: 2%;
    color: #000;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 300;
}

#tz-secondary-header {
    margin: 110px auto 20px auto;
    max-width: 1000px;
    width: 96%;
    clear: both;
}

#tz-bread-crumb {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    background-color: rgba(239,239,239,0.9);
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}

#tz-logo {
    float: left;
    padding: 0 0 0 14px;
}

#tz-logo img {
	transition: transform 0.4s ease-out 0s;
    transform: translate(-1px, 1px) rotate(-30deg);
    opacity: 1.0;
    transform-origin: center center;
}

#tz-logo img.animateIn {
    transform: translate(0px) rotate(0deg);
    opacity: 1.0;
}

#tz-bread-crumb p {
    float: left;
    padding: 0 0 0 10px;
    color: #000;
}

.tz-lazy, .tz-fade-up, .tz-lazy-display {
    opacity: 0;
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 40px);
}

.tz-lazy.display, .tz-fade-up.display, .tz-lazy-display.display {
    opacity: 1.0;
    transform: translate(0px, 0px);
	transition: opacity 0.8s ease-out 0s, transform 0.6s ease-out 0s;
}

.tz-lazy-display-secondary {
    opacity: 0;
	transition: opacity 0.8s ease-out 0s;
}

.tz-lazy-display-secondary.display {
    opacity: 1.0;
}


.tz-project-screen {
    width: 96%;
    max-width: 1000px;
    margin: 1% auto 0 auto;
    position: relative;
    background-color: #fff;
}

.tz-project-screen img {
    width: 100%;
    border: 1px solid #ccc;
    border: 1px solid #c6c6c6;
}

.tz-project-screen video {
    width: 100%;
    background-color: #fff !important;
    border: 1px solid #ccc
}

.tz-project-screen-wrapper, #tz-project-video-wrapper {
    padding-top: 62%;
}

#tz-skydump-wrapper.tz-project-screen-wrapper {
    padding-top: 70%;
}

#tz-skydump-wrapper iframe {
    border: none;
}

.tz-project-screen-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.tz-project-screen-wrapper.tz-psuedo-load {
    background: top left url(images/projects/cresprint/cresprint_1_bw.jpg) no-repeat;
    background-size: contain;
}

.tz-project-screen iframe,
.tz-project-screen object,
.tz-project-screen embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tz-contact-group-1 {
    float: left;
}

#tz-contact-group-2 {
    float: right;
}

.tz-contact-group {
    width: 48%;
}

#tz-contact-actions {
    margin-top: 15px;
}

#tz-contact input {
    width: 100%;
    height: 70px;
    float: left;
    border: 1px solid #c6c6c6;
    border-style: solid;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0px;
    line-height: 70px;
    font-size: 30px;
    padding: 10px;
    background-color: #efefef;
}

#tz-contact input[name=name] {
    margin-bottom: 15px;
}

#tz-contact textarea {
    width: 100%;
    height: 154px;
    float: right;
    border: 1px solid #c6c6c6;
    border-style: solid;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 10px;
    background-color: #efefef;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 0.7;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 0.7;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 0.7;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 0.7;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.tz-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tz-contact-button {
    display: block;
    cursor: pointer;
    overflow: hidden;
    width: 118px;
    height: 45px;
    /*padding: 10px;*/
}

#tz-contact-cancel {
    top: 0px;
    left: 0px;
    float: left;
}

#tz-contact-send{
   top: 0px;
    right: 0px;
    float: right;
}

.tz-contact-button-wrapper, .tz-contact-button-overlay-wrapper, .tz-contact-button-overlay {
    width: 100%;
    height: 100%;
}

.tz-contact-button-wrapper {
    display: flex;
    align-items: center;
}

.tz-contact-button-image-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #c6c6c6;
}

.tz-contact-button-image-wrapper.tz-dh-bg {
    z-index: 3;
    background-color: rgba(255,83,13,0.0);
    position: static;
    transition: all 0.20s ease-out 0s;
}

.tz-contact-button:hover .tz-contact-button-image-wrapper.tz-dh-bg {
    background-color: rgba(255,83,13,0.9);
}

.tz-contact-button-image-wrapper p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
}

.tz-contact-button-image-wrapper.hover p {
    color: #fff;
}

.tz-contact-button-overlay-wrapper.tz-dh-fg-wrapper {
    z-index: 2;
    opacity: 1.0;
}

.tz-contact-button-overlay {
    background-color: rgba(0,23,38,0.9);
    background-color: #ff530d;
}

#tz-petdental-carausel-wrapper {
    background-image: url("../images/projects/petdental/slides.png");*/
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 11%;
    left: 29.5%;
    width: 41%;
    padding-top: 34%;
    z-index: 2;
    transition: background-position 0.4s ease-out, opacity 0.8s ease-out;
}

.tz-carausel-navigation {
    width: 0;
    height: 0;
    position: absolute;
    top: 35%;
    z-index: 2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.tz-carausel-navigation.disabled {
    cursor: default;
}

#tz-petdental-carausel-next {
    right: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 7%;
    overflow: hidden;
}
#tz-petdental-carausel-next:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    margin-left: -500px;

    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #333;
}

#tz-petdental-carausel-next.disabled:after {
    border-left: 500px solid #777;
}

#tz-petdental-carausel-previous {
    left: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 7%;
    overflow: hidden;
}
#tz-petdental-carausel-previous:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    margin-right: -500px;

    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 500px solid #333;
}

#tz-petdental-carausel-previous.disabled:after {
    border-right: 500px solid #777;
}
