  /*==========  Non-Mobile First Method  ==========*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
      h1 {
          font-size: 3.65em;
      }

      h2 {
          font-size: 2.25em;
      }

      .tz-project {
          width: 48%;
          margin: 1%;
      }

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
      h1 {
          font-size: 3.5em;
      }

      h2 {
          font-size: 2.15em;
      }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
      h1 {
          font-size: 3.4em;
      }

      h2 {
          font-size: 2.0em;
      }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {

      h1 {
          font-size: 3.15em;
      }

      h2 {
          font-size: 1.40em;
      }

      #tz-secondary-header {
          width: 94%;
      }

      #tz-secondary-header h3 {
         font-size: 2.4em;
      }

      #tz-secondary-header p {
         font-size: 0.9em;
      }

      .tz-project-wrapper p {
         font-size: 0.8em;
      }

      .tz-project {
          width: 100%;
          margin: 1% 0;
      }

      .tz-contact-group {
          width: 100%;
      }

      #tz-contact input {
          height: 40px;
          font-size: 20px;
          line-height: 40px;
          margin-bottom: 10px;
      }

      #tz-contact textarea {
          height: 90px;
      }

      #tz-bread-right {
          display: none;
      }

  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {

      h1 {
          font-size: 2.9em;
      }

      h2 {
          font-size: 1.4em;
      }

  }
